 body {
    display: flex;
    flex-flow: column wrap;
    /* flex-direction: column; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

img {
    border-radius: 10px;
}

.header {
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    /* height: 40px; */
}

/* .rght-hdr{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
} */

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    font-size: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

.info{
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: space-around;
    gap: 16px;
    padding: 50px;
}

button {
    background-color: red;
    height: 40px;
    border-radius: 15px;
}

.abilities {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}
.abs_data{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.voicelines {
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: white
}

.footer .dsrc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 30px; */
    align-items: center;
}

.creds {
    display: flex;
    justify-content: flex-end;
    background-color: #1f2937;
    color: white;
}









